[flake8]
exclude =
    .venv,
    venv,
    env,
    */migrations/*,
    */__pycache__/*,
    */static/*,
    */media/*,
    */templates/*,
    .git,
    .github,
    .vscode,

per-file-ignores =
    */settings.py: E501, F401
    */asgi.py: E501, F401
    */wsgi.py: E501, F401
